/vendor/
/node_modules/
/.phpunit.cache
/.sass-cache/
Homestead.json
Homestead.yaml
.env
.env.production
.env.local
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
